 #flip {
  padding: 5px;
  text-align: center;
  background-color:pink;
  border: solid 1px #c3c3c3;
  font-family: "Sofia";

}
#panel {
  padding: 1px;
  text-align: left;
   font-size: 25px;
  background-color:pink;
  border: solid 1px #c3c3c3;
  padding: 40px;
  display: none;
  font-family: "Sofia";

}
  


.header {
  padding: 20px;
  text-align: center;
  background-color: #CC0066;
  color: white;
  font-size: 30px;
  font-family: "Sofia";
}

.sidenav {
  border: 5px outset white;
  background-color:  #CC0066;
  text-align: left;
   font-size: 20px;
}

#play {

  background-image: url("https://media0.giphy.com/media/2tMuOCL17ObOPNBdfV/giphy.gif"); 
  color: white;

}
#alphabet{
 background-image: url("https://media0.giphy.com/media/2tMuOCL17ObOPNBdfV/giphy.gif"); 
  color: white;
}

#birds {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
#cat {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 200px;
}
#dog {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 200px;
}
body {
	background-color:white; 
}



li{
	color: blue;
	 text-decoration: underline;
}

.chat-popup{

	border: none;
	width: 50%;
	font-family: "Sofia";
}



.container {
  width:  300px;
  border-color: white;
 background-image:url("https://media0.giphy.com/media/2tMuOCL17ObOPNBdfV/giphy.gif" ) ; 



}
span{
	display: flex;
	flex-direction: row;
	justify-content: flex-start; 
}

.container textarea {
  width: 50%;
  padding: 15px;
  margin: 3px 0 20px 0;
  border: :none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}


.container textarea:focus {
  background-color: 
  outline: none;
  border: none;
}

.container .btn {
  background-color: #1abc9c;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}

h2 {
  text-shadow: 2px 2px 5px green;
}

.footer{
	 background-color: #CC0066;
	 padding: 10px;
  	text-align: right;
  
  color: white;
  font-size: 20px;
  font-family: "Sofia";
}

#colors{
	display: flex;
	flex-direction: row;

	justify-content: flex-start; 

	
	 background-image: url("https://previews.123rf.com/images/5second/5second1703/5second170300136/73145021-drawing-colourful-pencils-on-brown-wooden-table.jpg"); 
}
